.footer{
    min-height: 9vh;
    background-color: map-get($colores, color-oscuro);
    padding-top: 30px;
    padding-left: 30px;
}
.footer__icon{
    color: map-get($colores, color-blanco);
    float: right;
}
.fa-solid{
    color: map-get($colores, color-blanco);
    float: right;
    padding-right: 30px;
    text-decoration: none;
}
.footer__p{
    color: map-get($colores, color-blanco);
}
@media screen and (max-width: 1024px){
    .hero{
        padding: 35px;
    }
}