.footer{
    min-height: 9vh;
    background-color: #212529;
    padding-top: 30px;
    padding-left: 30px;
}
.footer__icon{
    color: white;
    float: right;
}
.fa-solid{
    color: white;
    float: right;
    padding-right: 30px;
    text-decoration: none;
}
.footer__p{
    color: white;
}
@media screen and (max-width: 1024px){
    .hero{
        padding: 35px;
    }
}